<main class="index">
    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1">SAEMIS</h1>
            <h3 class="mb-5">
                <em>Sistema Apoyo Estudiantil y Monitorias</em>
            </h3>
            <a href="/signin" class="btn btn-light">
                Iniciar Sesion</a>
        </div>

    </header>

</main>
  <footer class="fixed-bottom">
    <div class="container text-center">
      <small class="text-light">Copyright &copy; SAEMIS</small>
    </div>
  </footer>
