<h4>Listado Curso</h4>
<button class="btn btn-success m-2">eliminar</button>
<table class="table" id="id_user_root">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Nombre</th>
            <th scope="col">Codigo</th>
            <th scope="col">Correo</th>
            <th scope="col">Carrera</th>
            <th scope="col">Tipo de Usuario</th>
        </tr>
    </thead>
    <tbody>
        {{#each listado}}
        {{> table_course_list_config}}
        {{/each}}
    </tbody>
</table>