<img src="/img/icons/admin_panel_settings-black-18dp.svg" width="600" height="400" style="width:70%"
    class="mx-auto d-block">
<div>
    <h1 class="text-center">

        <em>Usuario Administrador</em>
        <p></p>
        <em>Bienvenido</em>
        <p></p>
        <em>escuela de {{Descripcion_carrera}}</em>
    </h1>
</div>

{{> footer}}