<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne"
          aria-expanded="true" aria-controls="collapseOne">
          Report
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body ">
        {{!-- opciones para descargar --}}
        <div class="container-sm">
          <form action="/admin/data/report/info" method="post">
            <div class="row">
              <div class="container">
                <h6 class="alert alert-info ">Informacion <p class="text-danger">Informacion contenida</p>
                </h6>
                <select class="custom-select  mb-4" name="option_tipo">
                  <option id="1">Estudiantes</option>
                  <option id="2">Monitores</option>
                  <option id="3">Docentes</option>
                  <option id="4">Materias</option>
                </select>
                <button class="btn btn-primary btn-block">Generar Informe</button>
              </div>
            </div>
          </form>

          <hr>
          <form action="/admin/data/report/data" method="post">
            <div class="row">
              <div class="container">

                <h6 class="alert alert-info ">Datos Sistema <p class="text-danger">Informacion en torno a usuarios del
                    sistema</p>
                </h6>
                <select class="custom-select  mb-4" name="option_tipo">
                  <option id="1">Estudiantes</option>
                  <option id="2">Docentes</option>
                </select>
                <button class="btn btn-primary btn-block">Generar Informe</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col form-group">
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
          data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Add Users Document
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
        <div class="form-group">
          <form action="/admin/data/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="file"
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-Excel"
              class="btn btn-primary">
            <p class="help-block">Selecciona un archivo tipo <span class="text-info">.xlsx .xlsm .xltm .xltx .xltm .xlam
                .xlsb</span></p>
            <p class="text-danger bg-warning p-4">Esta accion borrara todos los usuarios actuales pertenecientes a la
              carrera</p>
            <button class="btn btn-warning">Cargar Usuarios</button>
          </form>
          <hr>
          <div class="card-body">
            <h4 class="mb-4">Ejemplos de descarga</h4>
            <a href="/files/download/" download="user-exam.jpg">Usuarios</a>
            <p></p>
            <a href="/files/download/" download="updated-exam.jpg">Carga Archivos</a>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>

{{> footer}}