<div class="container p-5">
    <div class="row">
        {{#each cursos}}
        <div class="col-md-6 p-2">
            <div class="card text-center">
                <div class="card-body">
                    <img src="/img/icons/school-black-18dp.svg" width="150" height="100" style="width:70%"
                        class="mx-auto d-block">
                    <a href="/user/course/{{Materia_idMateria}}">
                        <h3 class="card-title text-uppercase">
                            {{Nombre_materia}}
                        </h3>
                    </a>
                    <p class="m-2">Grupo {{Grupo_materia}}</p>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>




{{> footer}}